{% extends layout('heroless') %}

{% block content %}
{{ asset_add("theme.js", "finnito.module.documents::js/documentsJSTable.js") }}
<div>
    <div class="card">
        <h1 class="card-title">Documents</h1>
        <input class="quickSearch" placeholder="Search.." type="text" id="quicksearch"/>
        <button class="js-table-reset bg-green">Reset</button>

        <!-- <div class="button-group sort-by-button-group">
            <p>Sort</p>
            {% for a in attributes %}
                {% if loop.first %}
                    <button class="button is-checked" data-sort-value="{{ a }}">{{ a|title }}</button>
                {% else %}
                    <button class="button" data-sort-value="{{ a }}">{{ a|title }}</button>
                {% endif %}
            {% endfor %}
        </div> -->

        <div class="button-group current-button-group">
            <p>Document Status</p>
            <button class="button is-checked" data-filter="*">Show All</button>
            {% for f in filters %}
                {% if (f == "year") %}
                    <input class="button" data-filter="{{ f }}" placeholder="{{ "now"|date("Y") }}">
                {% else %}
                    <button class="button" data-filter="{{ f }}">{{ f|title }}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div>

{% for category in categories %}
    <h2>{{ category.name }}</h2>
    <div class="js-table-header">
        {% for attribute in attributes %}
            <div class="{{ attribute }} {% if loop.first %} is-checked {% endif %}" data-sort="{{ attribute }}">
                {{ attribute|title }}
            </div>
        {% endfor %}
    </div>
    <div class="js-table">
        {% for entry in category.getEntries %}
            <div class="entry {{ entry.classes(filters) }}">
                {% for attribute in attributes %}
                    {% if (attribute == "name") %}
                        <div class="{{ attribute }}" data-filter="{{ attribute }}">
                            {{ attribute(entry, attribute)|raw }}
                            {% if (entry.description) %}
                                <br>
                                <p class="sub">{{ entry.description }}</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div
                            class="{{ attribute }}"
                            data-filter="{{ attribute(entry, attribute)|lower|raw }}">
                            {{ attribute(entry, attribute)|raw }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}