{% extends layout('heroless') %}

{% block content %}
{{ asset_add("ucandance.js", "finnito.module.documents::js/minutesJSTable.js") }}
<div>
    <div class="card">
        <h1 class="card-title">Committee Minutes</h1>
        <input class="quickSearch" placeholder="Search.." type="text" id="quicksearch"/>
        <button class="js-table-reset bg-green">Reset</button>
    </div>
</div>
<div>

{% for category in categories %}
    <h2>{{ category.name }}</h2>
    <div class="js-table-header">
        {% for attribute in attributes %}
            <div class="{{ attribute }} {% if loop.first %} is-checked {% endif %}" data-sort="{{ attribute }}">
                {{ attribute|title }}
            </div>
        {% endfor %}
    </div>
    <div class="js-table">
        {% for entry in category.getEntries %}
            <div class="entry {{ entry.classes(filters) }}">
                {% for attribute in attributes %}
                    {% if (attribute == "name") %}
                        <div class="{{ attribute }}" data-filter="{{ attribute }}">
                            {{ attribute(entry, attribute)|raw }}
                            {% if (entry.description) %}
                                <br>
                                <p class="sub">{{ entry.description }}</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div
                            class="{{ attribute }}"
                            data-filter="{{ attribute(entry, attribute)|lower|raw }}">
                            {{ attribute(entry, attribute)|raw }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}